{% extends "antrian/admin_base.html" %}
{% block admin_title %}Dashboard{% endblock %}

{% block admin_content %}
{% include "includes/admin_header.html" with page_title="Ringkasan Hari Ini" page_subtitle=today|date:"l, d F Y" %}

<div id="dashboardContent">
  {% include "antrian/partials/admin_dashboard_content.html" %}
</div>
{% endblock %}

{% block extra_js %}
{% load static %}
<script>
  document.body.dataset.dashboardApi = "{% url 'antrian:api_admin_dashboard_data' %}";
</script>
<script src="{% static 'js/admin-dashboard.js' %}"></script>
{% endblock %}
