{% extends "antrian/admin_base.html" %}
{% block admin_title %}Antrian Aktif{% endblock %}
{% block admin_content %}
{% include "includes/admin_header.html" with page_title="Antrian Aktif" page_subtitle=today|date:"l, d F Y" %}
{% if messages %}<div class="mb-4">{% for msg in messages %}<p class="brutal-alert brutal-alert--success">{{ msg }}</p>{% endfor %}</div>{% endif %}

<div id="antrianAktifContent">
  {% include "antrian/partials/admin_antrian_aktif_content.html" %}
</div>
{% endblock %}

{% block extra_js %}
{% load static %}
<script>
  document.body.dataset.antrianAktifApi = "{% url 'antrian:api_admin_antrian_aktif_data' %}";
</script>
<script src="{% static 'js/admin-antrian-aktif.js' %}"></script>
{% endblock %}
